h1 Product

p: strong Product Name:
p= product.name
p= code

p: strong Options:
ul
    for option in product.options
        li= option.name
            a(href="/product/"+code+"/remove/" + option.id) [Remove]
    else
        li None


h2 Available Options
ul
    for option in availableOptions
        li= option.name
            a(href="/product/"+code+"/add/" + option.id) [Add]
    else
        li None


h2 Unavailable Options
ul
    for option in unavailableOptions
        li= option.name
    else
        li None